<div id="container-cards-map" class="container pt-3">
  <div class="row">



    <div class="cards col-8">
      <!-- Iterate over all vans to create seperate cards -->
      <% count = 1  %>
      <% @vans.each do |van| %>
      <!-- Place link around the card-trip to make it a button to show page -->
      <%= link_to van_path(van) do  %>
          <div class="card-trip">
            <!-- Should be dynamic image tag, preferabbly cl_image_tag -->

            <div class="grid-image" style="background-image: url('<%= cl_image_path van.photo.key, height: 350, crop: :fit %>')"></div>

            <div class="card-trip-infos">
              <div>
                <!-- Brand and model should be dynamic -->
                <h2><%= "#{van.brand} #{van.model}" %></h2>
                <!-- Number should be replaced with dynamic capacity -->
                <div class="card-trip-capacity">
                  <i class="fas fa-user-friends"></i> <%= van.capacity %>
                </div>
                <!-- Description should be dynamic -->
                <p><%= van.description.truncate(40) %></p>
              </div>
              <!-- Price should be dynamic -->
              <h2 class="card-trip-pricing">€<%= van.day_price.round %> / day</h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-4" style=" position: sticky !important;">
      <div id="map"
         style="width: 100%; height: 90vh;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
