<div class="container show-van mt-3">
  <div class="row top-show">

    <div class="show-image" style="background-image: url('<%= cl_image_path @van.photo.key, crop: :fit %>')">
      <div class="card-trip-capacity">
        <i class="fas fa-user-friends"></i> <%= @van.capacity %>
      </div>
    </div>
    <div class="reservation">

      <div class="form">
        <!-- Price should be dynamic -->
        <h4 class="card-trip-pricing"> € <%= @van.day_price %> / day</h4>
        <%= simple_form_for [ @van, @booking ] do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.submit "Submit Booking", class: "btn btn-primary" %>
        <% end %>
        <h3>Total price €300</h3>
      </div>
    </div>
  </div>
  <div class="van-info mt-3">
    <div>
      <h2><%= @van.brand %> <%= @van.model %></h2>
      <p><%= @van.description %></p>
    </div>
  </div>
</div>

