<div class="container show-van mt-3">
  <div class="row top-show">

    <div class="show-image" style="background-image: url('<%= cl_image_path @van.photo.key, crop: :fit %>')">
      <div class="card-trip-capacity">
        <i class="fas fa-user-friends"></i> <%= @van.capacity %>
      </div>
    </div>
    <div class="reservation">

      <div class="form text-center">
        <%= simple_form_for [ @van, @booking ] do |f| %>
          <h4 class="card-trip-pricing mb-4"> € <%= @van.day_price.round %> / day</h4>
          <%= f.input :start_date, as: :string, input_html: {type: :date} %>
          <%= f.input :end_date, as: :string, input_html: {type: :date} %>
          <br></br>
          <%= f.submit "Submit Booking", class: "btn btn-flat" %>
        <% end %>

      </div>
    </div>
  </div>

  <div class="van-info mt-3">
    <div class="row bottom-show">
      <div class="col-8">
        <%= link_to "< Back to vans", vans_path, class: "btn back-btn"  %>
        <h2><%= @van.brand %> <%= @van.model %></h2>
        <p><%= @van.description %></p>
        <p><%= @van.address %></p>
      </div>
      <div class="col-4" id="map"
         style="width: 100%;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

